@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body{
    overflow: auto;
}

.gradiente{
    background-size: 300% 300%;
    background-position: center;
    width: 100%;
    height: 170vh;
    background: linear-gradient(54deg, #cccac6, #d9e0e7, #c5d3da, #cacbcf);
    animation: gradiente-animado 15s ease infinite alternate ;
}

@keyframes gradiente-animado {
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 100%;
    }
}

header{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1.5rem;
}

.cabecalho-link{
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.cabecalho-link a{
    color:#263159;
    font-size: 1.3rem;
}

.cabecalho-link a:hover{
    color: white;
    transition: 0.3s all;
}

.logo i{
    height: 3rem;
    width: 3rem;
    background: transparent;
    border: 1px solid #263159;
    color: #263159;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    cursor: pointer;
}

button{
    color: #263159;
    background: transparent;
    border: solid 0.1rem #263159;
    padding: 5px;
    border-radius: 5rem;
    font-size: 15px;
    width: 150px;
}

button:hover{
    background-color: #263159;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.container-text{
    padding-top: 150px;
    
}

.text h3, h4{
    color:#263159;
    font-size: 2rem;
}

.text h1{
    color: #ffffff;
    margin-top: 10px;
}

.text span{
    color: #4F709C;
}

.text p{
    color: black;
    font-size: 17px;
    font-weight: 300;
    margin-top: 10px;
}

.redes-sociais a{
    color: rgb(50, 50, 107);
    padding: 10px;
    margin-top: 5px;
    
}

.redes-sociais i{
    font-size: 20px;
}

.redes-sociais i:hover{
    color:#ffffff;
    transition: 0.3s;
}

.espaco{
    margin-top: 4rem;
}

.margem{
    margin-left: 2rem;
    margin-right: 2rem;
}



